:root {
    // Allow height/width transition to or from 'auto', 'max-content', etc
    interpolate-size: allow-keywords;
}
body {
    padding: 0;
}

.page {
    &__content {
        min-height: calc(100vh - #{$layout-navbar-height} - 1px);

        @include media-breakpoint-down(md) {
            min-height: calc(100vh - #{$layout-navbar-height-mobile} - 1px);
        }

        &.page__content__full_screen {
            min-height: calc(100vh);
        }

        .page__section {
            margin-bottom: 60px;
        }

        .page__section:last-child {
            margin-bottom: 0;
        }

        &.padded {
            padding-top: 45px;
            padding-bottom: 45px;
        }
    }
}
.fullscreen .page__content {
    min-height: calc(100vh);
    height: calc(100vh);
}

.with-tiled-bg {
    .page__content {
        min-height: calc(100vh - #{$layout-navbar-height} - 1px - 2rem);

        @include media-breakpoint-down(md) {
            min-height: calc(
                100vh - #{$layout-navbar-height-mobile} - 1px - 2rem
            );
        }
    }
}

.layout-navbar {
    @extend .container-lg;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(30px);
    }
}

@keyframes slide-to-left {
    to {
        transform: translateX(-30px);
    }
}

::view-transition-old(root) {
    animation: none;
    animation-delay: 90ms;
}
::view-transition-new(root) {
    animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-in;
}

::view-transition-group(loanable-image) {
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

::view-transition-old(loanable-image) {
    animation-duration: 90ms;
}
::view-transition-new(loanable-image) {
    animation-duration: 90ms;
}

::view-transition-old(content) {
    animation:
        90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(content) {
    animation:
        210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

::view-transition-group(page-title),
::view-transition-group(content) {
    // Do not transition sizes and position
    animation: none;
}

::view-transition-old(page-title) {
    width: fit-content;
    animation:
        90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(page-title) {
    width: fit-content;
    animation:
        210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
        300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

@media (prefers-reduced-motion) {
    ::view-transition-group(*),
    ::view-transition-old(*),
    ::view-transition-new(*) {
        animation: none !important;
    }
}
