@import "fonts";

html {
    font-size: $font-size-base;
    line-height: $line-height-base;
}

.muted {
    color: $grey;
}

.img-fit {
    max-width: 100%;
}

.no-break {
    white-space: nowrap;
}
.monospace {
    font-family: var(--font-family-monospace);
}
// Use this class when it is required to aling numbers in columns such as in
// tables, invoices, etc.
.tabular-nums {
    font-variant-numeric: tabular-nums;
}

.badge {
    // Default font-size for badges is too small!
    font-size: 0.8rem;
    // Match font weight with table
    font-weight: 600;
}

dl.sidebar-list {
    margin-bottom: 0;
    dt {
        font-weight: 400;
        font-size: 0.8rem;
        color: $content-neutral-secondary;
        margin-bottom: 0.25rem;
    }
    dd {
        margin-bottom: 1rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.whitespace-pre {
    white-space: pre-wrap;
}
