.alert {
    p:last-child {
        margin-bottom: 0;
    }

    &.alert-warning {
        color: $action-requiredFg;
        background: transparentize($action-requiredBg, 0.5);
        border-color: mix($action-requiredFg, $action-requiredBg, 30%);
    }
}
