// override default bootstrap badge style
.badge {
    &.badge-warning {
        color: $content-alert-warning;
        background-color: $background-alert-warning;
    }
    &.badge-success {
        color: $content-alert-positive;
        background-color: $background-alert-positive;
    }
    &.badge-danger {
        color: $content-alert-negative;
        background-color: $background-alert-negative;
    }
    &.badge-primary {
        background-color: $background-alert-informative;
        color: $content-alert-informative;
    }
}
