.btn-google {
    padding: 3px 18px 3px 3px;

    &__icon {
        padding: 7px;
        background: $white;
        border-radius: 4px;
        display: inline-block;
        margin-right: 13px;
    }
}

@mixin button-ghost($color) {
    $bg-color: change-color($color, $alpha: 0.15);
    $fg-color: color-yiq($bg-color, darken($color, 30), $color);
    color: $fg-color;
    background: $bg-color;
    &:hover {
        color: $fg-color;
    }

    &:focus,
    &.focus {
        color: $fg-color;
        box-shadow: 0 0 0 $btn-focus-width rgba(mix($white, $color, 15%), 0.5);
    }

    &:not(.disabled):hover,
    &:not(.disabled).active {
        background: change-color($color, $alpha: 0.3);
    }
    .active:not(.disabled):hover {
        background: change-color($color, $alpha: 0.5);
    }
}

@mixin button-transparent($color) {
    $bg-color: change-color($color, $alpha: 0.15);
    $fg-color: color-yiq($bg-color, darken($color, 30), $color);
    color: $fg-color;
    background: transparent;
    &:hover {
        color: $fg-color;
        background: $bg-color;
    }

    &:focus,
    &.focus {
        color: $fg-color;
        background: $bg-color;
        box-shadow: 0 0 0 $btn-focus-width rgba(mix($white, $color, 15%), 0.5);
    }

    &:not(.disabled):hover,
    &:not(.disabled).active {
        background: change-color($color, $alpha: 0.3);
    }
    .active:not(.disabled):hover {
        background: change-color($color, $alpha: 0.5);
    }
}

@mixin button-shadows($background, $border) {
    &:not(.disabled):hover {
        box-shadow: $medium-shadow;
        &:focus,
        &.focus {
            box-shadow:
                $medium-shadow,
                0 0 0 $btn-focus-width rgba(mix($white, $border, 15%), 0.5);
        }
    }

    &:not(.disabled):not(.no-inset).active {
        box-shadow: small-inset-shadow(mix($white, $border, 15%));

        &:focus {
            box-shadow:
                small-inset-shadow(mix($white, $border, 15%)),
                0 0 0 $btn-focus-width rgba(mix($white, $border, 15%), 0.5);
        }
    }
}

@each $color, $value in $theme-colors {
    .btn.btn-#{$color} {
        @include button-shadows($value, $value);
    }
    .btn-outline-#{$color} {
        @include button-shadows($value, $value);
        background-color: change-color($value, $alpha: 0.15);
    }
    .btn.btn-ghost-#{$color} {
        @include button-ghost($value);
        @include button-shadows($value, $value);
    }
    .btn.btn-transparent-#{$color} {
        @include button-transparent($value);
    }
}

.btn-outline-light {
    color: darken($light, 40);
}

.btn-white-secondary {
    color: $secondary;
    background: $white;
    border: 0;

    &.active,
    &:hover,
    &[aria-expanded="true"] {
        color: $secondary;
    }

    &:focus,
    &.focus {
        box-shadow: 0 0 0 $btn-focus-width
            rgba(mix($white, $secondary, 15%), 0.5);
    }

    @include button-shadows($white, $secondary);
}

.btn-white-primary {
    color: $light;
    background: transparent;

    &.active,
    &:hover,
    &[aria-expanded="true"] {
        color: $locomotion-green;
        background: transparent;
        box-shadow: none;
    }
}

.btn-outline-warning {
    color: $action-requiredFg;
    border-color: $action-requiredFg;
}
.btn-outline-warning.disabled {
    color: $action-requiredFg;
    border-color: $action-requiredFg;
    background: transparentize($warning, 0.85);
    opacity: 0.4;
}

.clickable-shadow {
    @extend .shadow;

    &:active,
    &:focus {
        @extend .shadow-none;
    }
}

.button-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}
