$namespace: "mx"; // change the 'mx' to 'xmx'. then <date-picker prefix-class="xmx" />

$default-color: $dark;
$primary-color: $primary;

@import "~vue2-datepicker/scss/index.scss";

.mx-datepicker-popup {
    box-shadow: $medium-shadow;
    border: none;
    border-radius: 0.5rem;
    overflow: hidden;
}
.mx-datepicker-footer {
    display: flex;
    justify-content: end;
}

.mx-datepicker {
    width: 100%;
    &.mx-datepicker-inline {
        width: auto;
    }
    .mx-input {
        @extend .form-control;

        &:hover {
            border-color: #ced4da;
            &:focus {
                border-color: $primary;
            }
        }
    }
}
