$requestedBg: #f7edf7;
$acceptedBg: #f1f0fb;
$confirmedBg: #ecf2fd;
$ongoingBg: #e7f5fb;
$endedBg: #e7f6f6;
$validatedBg: #e9f7f1;
$completedBg: #eff7ed;

$requestedFg: #7a1f7a;
$acceptedFg: #4743a0;
$confirmedFg: #005c93;
$ongoingFg: #00647d;
$endedFg: #006c6d;
$validatedFg: #00764f;
$completedFg: #317a1f;

$rejectedFg: #526d6f;
$rejectedBg: #e3e6e8;

$canceledFg: #526d6f;
$canceledBg: #e3e6e8;

$action-requiredBg: #fff3d2;
$action-requiredFg: #a68001;
