.loan-status-requested {
    color: $requestedFg;
    background: $requestedBg;
    border-color: mix($requestedBg, $requestedFg, 70%);
}

.loan-status-accepted {
    color: $acceptedFg;
    background: $acceptedBg;
    border-color: mix($acceptedBg, $acceptedFg, 70%);
}

.loan-status-confirmed {
    color: $confirmedFg;
    background: $confirmedBg;
    border-color: mix($confirmedBg, $confirmedFg, 70%);
}

.loan-status-ongoing {
    color: $ongoingFg;
    background: $ongoingBg;
    border-color: mix($ongoingBg, $ongoingFg, 70%);
}

.loan-status-ended {
    color: $endedFg;
    background: $endedBg;
    border-color: mix($endedBg, $endedFg, 70%);
}

.loan-status-validated {
    color: $validatedFg;
    background: $validatedBg;
    border-color: mix($validatedBg, $validatedFg, 70%);
}

.loan-status-completed {
    color: $completedFg;
    background: $completedBg;
    border-color: mix($completedBg, $completedFg, 70%);
}

.loan-status-rejected {
    color: $rejectedFg;
    background: $rejectedBg;
    border-color: mix($rejectedBg, $rejectedFg, 70%);
}

.loan-status-canceled {
    color: $canceledFg;
    background: $canceledBg;
    border-color: mix($canceledBg, $canceledFg, 70%);
}

.loan-status-action-required {
    color: $action-requiredFg;
    background: $action-requiredBg;
    border-color: mix($action-requiredBg, $action-requiredFg, 70%);
}

.loanable-loan-event {
    &.loan-status-requested {
        &.hovered,
        &:hover {
            background: $requestedFg;
            color: $white;
            border-color: $requestedFg;
        }
        color: $requestedFg;
        background: $requestedBg;
        border: 1px solid mix($requestedBg, $requestedFg, 70%);
    }

    &.loan-status-accepted {
        &.hovered,
        &:hover {
            background: $acceptedFg;
            color: $white;
            border-color: $acceptedFg;
        }
        color: $acceptedFg;
        background: $acceptedBg;
        border: 1px solid mix($acceptedBg, $acceptedFg, 70%);
    }

    &.loan-status-confirmed {
        &.hovered,
        &:hover {
            background: $confirmedFg;
            color: $white;
            border-color: $confirmedFg;
        }
        color: $confirmedFg;
        background: $confirmedBg;
        border: 1px solid mix($confirmedBg, $confirmedFg, 70%);
    }

    &.loan-status-ongoing {
        &.hovered,
        &:hover {
            background: $ongoingFg;
            color: $white;
            border-color: $ongoingFg;
        }
        color: $ongoingFg;
        background: $ongoingBg;
        border: 1px solid mix($ongoingBg, $ongoingFg, 70%);
    }

    &.loan-status-ended {
        &.hovered,
        &:hover {
            background: $endedFg;
            color: $white;
            border-color: $endedFg;
        }
        color: $endedFg;
        background: $endedBg;
        border: 1px solid mix($endedBg, $endedFg, 70%);
    }

    &.loan-status-validated {
        &.hovered,
        &:hover {
            background: $validatedFg;
            color: $white;
            border-color: $validatedFg;
        }
        color: $validatedFg;
        background: $validatedBg;
        border: 1px solid mix($validatedBg, $validatedFg, 70%);
    }

    &.loan-status-completed {
        &.hovered,
        &:hover {
            background: $completedFg;
            color: $white;
            border-color: $completedFg;
        }
        color: $completedFg;
        background: $completedBg;
        border: 1px solid mix($completedBg, $completedFg, 70%);
    }

    &.loan-status-rejected {
        color: $rejectedFg;
        background: $rejectedBg;
    }

    &.loan-status-canceled {
        color: $canceledFg;
        background: $canceledBg;
    }

    &.loan-status-action-required {
        &.hovered,
        &:hover {
            background: $action-requiredFg;
            color: $white;
            border-color: $action-requiredFg;
        }
        color: $action-requiredFg;
        background: $action-requiredBg;
        border: 1px solid mix($action-requiredBg, $action-requiredFg, 70%);
    }
}

.loan-status-alert {
    &.loan-status-requested {
        color: mix($requestedFg, $dark, 40%);
        background: mix($requestedBg, $white, 20%);
    }
    &.loan-status-accepted {
        color: mix($acceptedFg, $dark, 40%);
        background: mix($acceptedBg, $white, 20%);
    }
    &.loan-status-confirmed {
        color: mix($confirmedFg, $dark, 40%);
        background: mix($confirmedBg, $white, 20%);
    }
    &.loan-status-ongoing {
        color: mix($ongoingFg, $dark, 40%);
        background: mix($ongoingBg, $white, 20%);
    }
    &.loan-status-ended {
        color: mix($endedFg, $dark, 40%);
        background: mix($endedBg, $white, 20%);
    }
    &.loan-status-validated {
        color: mix($validatedFg, $dark, 40%);
        background: mix($validatedBg, $white, 20%);
    }
    &.loan-status-completed {
        color: mix($completedFg, $dark, 40%);
        background: mix($completedBg, $white, 20%);
    }

    &.loan-status-rejected {
        color: mix($rejectedFg, $dark, 40%);
        background: mix($rejectedBg, $white, 20%);
    }
    &.loan-status-canceled {
        color: mix($canceledFg, $dark, 40%);
        background: mix($canceledBg, $white, 20%);
    }

    &.loan-status-action-required {
        color: mix($action-requiredFg, $dark, 40%);
        background: mix($action-requiredBg, $white, 20%);
    }
}
