.navbar.layout-navbar {
    flex-direction: row-reverse;
    justify-content: flex-end;

    .mr-auto {
        height: 40px;
    }

    @include media-breakpoint-up(lg) {
        flex-direction: row;
        justify-content: space-between;
        padding-left: $grid-gutter-width / 2;
        padding-right: $grid-gutter-width / 2;
    }

    .layout-navbar {
        &__collapse {
            &.show {
                box-shadow: $medium-shadow;
            }

            @include media-breakpoint-down(md) {
                position: absolute;
                top: #{$layout-navbar-height-mobile - 15};
                left: 0;
                right: 0;
                z-index: 1000;
                background: $beige;
                overflow-y: auto;
            }

            &__illustration {
                background: url("/mobile-menu-illustration.png") center
                    no-repeat;
                background-size: cover;
                height: 30vw;
                svg {
                    width: 100vw;
                }
            }
        }
    }

    .nav-link__icon path {
        fill: $locomotion-grey;
    }

    .layout-navbar__brand-wrapper {
        display: flex;
        align-items: flex-end;
    }

    .layout-navbar__separator {
        width: 1px;
        height: 36px;
        background-color: $locomotion-green;
        position: relative;
        top: 5px;
    }

    .navbar-brand {
        font-size: 1rem;
        position: relative;
        top: 0;

        @include media-breakpoint-up(lg) {
            font-size: 1.6rem;
        }

        &--title {
            padding-bottom: 0;
            position: relative;
            top: 0.12em;
            line-height: 30px;
        }

        img {
            height: 1.4rem;
            max-width: 100%;
        }
    }

    .nav-item {
        @include media-breakpoint-up(lg) {
            display: flex;
            + .nav-item {
                margin-left: 3rem;
            }
        }

        @include media-breakpoint-down(md) {
            + .nav-item {
                border-top: 1px solid $light-grey;
            }
        }
    }

    .nav-link {
        padding: 1.25rem 1rem;
        display: flex;
        align-items: center;

        @include media-breakpoint-up(lg) {
            padding: 0.5rem 0;
            font-size: $font-size-base;
            border-bottom: 0;
        }
    }

    .dropdown-menu {
        @include media-breakpoint-down(md) {
            box-shadow: none;
            margin: 0 1rem 1rem;
            padding: 0;

            li + li {
                border-top: 1px solid $light-grey;
            }

            .dropdown-item {
                padding: 1rem 1rem;
            }
        }
    }

    .nav-link__icon {
        width: 40px;
        display: flex;
        align-items: center;
    }

    .nav-link {
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.5;
    }

    .navbar-nav .nav-link.router-link-active,
    .navbar-nav .nav-link:hover {
        color: $locomotion-green;
    }

    .router-link-active path,
    .nav-link:hover path {
        fill: $locomotion-green;
    }

    .layout-navbar__dropdown {
        margin-left: 1.5rem;

        .dropdown-menu {
            min-width: 12rem;
        }

        .nav-link {
            padding: 0;
            padding-right: 0;
            padding-left: 0;
        }
    }

    .navbar-toggle-wrapper {
        margin-left: -12px;
        margin-right: 27px;
        padding-left: $grid-gutter-width / 2;
    }

    .navbar-toggler {
        border: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    .navbar-toggler-icon {
        width: 22px;
        height: 15px;
        background-image: url("/menu.svg");
    }

    .not-collapsed .navbar-toggler-icon {
        background-image: url("/menu-open.svg");
    }

    .badge-pill path,
    .dropdown-toggle:hover path {
        fill: $light;
    }

    span.badge {
        padding: 0;
        width: 40px;
        height: 40px;
    }

    .dropdown-container {
        display: flex;
        flex-direction: column;
    }

    .username {
        padding-left: 0.5rem;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 24px;
    }
}

.dropdown-menu {
    border-radius: 0.5rem;
    border: none;
    box-shadow: $medium-shadow;
    font-size: inherit;
}

.dropdown-item {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $dark;

    .b-icon {
        margin-right: 0.5rem;
    }

    // Match icon
    .spinner-border {
        width: 1.25rem;
        height: 1.25rem;
        margin-right: 0.5rem;
    }

    &:active,
    &:active:hover {
        color: $white !important;
        fill: $white !important;
    }

    &.router-link-active {
        color: $locomotion-green;
    }
}

.logo {
    height: 21px;
    width: 165px;
    left: 77px;
    top: 24px;
    border-radius: 0px;
}
