@font-face {
    font-family: BrandonText;
    src:
        url("/fonts/brandontext-regular-webfont.woff2") format("woff2"),
        url("/fonts/brandontext-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family:
        BrandonText,
        -apple-system,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Helvetica Neue,
        Arial,
        Noto Sans,
        sans-serif,
        Apple Color Emoji,
        Segoe UI Emoji,
        Segoe UI Symbol,
        Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;

    background-color: #f1f1f1;

    max-width: 48rem;
    margin: 0 auto;
}

h1 {
    font-size: 2.25rem;
    color: #00a79d;
}
h2 {
    font-size: 1.75rem;
    color: #00a79d;
}
h3 {
    font-size: 1.25rem;
    color: #00a79d;
}

a {
    color: #00a79d;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #00a79d;
}
table thead th:nth-child(1) {
    width: 40%;
}

th,
td {
    padding: 5px;
    border: 1px solid #7a7a7a;
}

th {
    background-color: #dfdfdf;
}

.conditions-header {
    margin: 6rem 0;
    text-align: center;
}
.conditions-header__logo {
}
.conditions-header__logo img {
    height: 2.5rem;
    margin: 2rem;
}
.conditions-header__title {
    margin: 0;
    padding: 0;
    line-height: 1.5;

    text-align: center;
    text-transform: uppercase;
}
.conditions-header__sub-title {
    font-weight: 400;
    color: #00a79d;
}

ol.conditions-toc,
.conditions-toc ol {
    padding: 0;
    list-style-type: none;
}
.conditions-toc {
    position: relative;
}

.conditions-toc__section {
}
.conditions-toc__toc,
.conditions-toc__section--l1 {
    counter-reset: toc-item--l1 0;
}
.conditions-toc__section--l2 {
    margin-bottom: 1rem;
    counter-reset: toc-item--l2 0;
}

.conditions-toc__item--l1 {
    padding-left: 2rem;
}
.conditions-toc__item--l1::before {
    position: absolute;
    width: 1rem;
    left: 0;

    counter-increment: toc-item--l1;
    content: counter(toc-item--l1) " ";
}

.conditions-toc__item--l2 {
    padding-left: 2rem;
}
.conditions-toc__item--l2::before {
    counter-increment: toc-item--l2;
    content: counter(toc-item--l1) "." counter(toc-item--l2) " ";

    position: absolute;
    width: 2rem;
    left: 1rem;
}
/*
                                When citing an article of law.
                              */
.conditions-article {
}
.conditions-article__title {
    display: block;
    font-style: italic;
}
.conditions-article__desc {
    display: block;
}
