<script>
import FormsDateTimePicker from "@/components/Forms/DateTimePicker.vue";
import FormsValidatedInput from "@/components/Forms/ValidatedInput.vue";
import FileDownloadLink from "@/components/shared/FileDownloadLink.vue";
import YearlyIncomeReportsBox from "@/views/admin/YearlyIncomeReportsBox.vue";
import dayjs from "dayjs";

export default {
  name: "AdminReports",
  components: {
    FileDownloadLink,
    YearlyIncomeReportsBox,
    FormsValidatedInput,
    FormsDateTimePicker,
  },
  data() {
    return {
      balanceUpToDate: null,
      insurancePeriod: null,
      balanceNonZero: false,
    };
  },
  computed: {
    insurancePeriodOptions() {
      let options = [];
      let now = dayjs();
      let optionIndex = 0;

      let periodStart = dayjs("2020-03-01T00:00:00");

      while (periodStart.isSameOrBefore(now)) {
        let nextPeriodStart = periodStart.add(3, "months");

        let text = `${periodStart.format("YYYY-MM")} - ${nextPeriodStart.format("YYYY-MM")}`;
        if (periodStart.isSameOrBefore(now) && nextPeriodStart.isAfter(now)) {
          text += " (en cours)";
        }

        options.push({
          value: optionIndex++,
          text,
        });

        periodStart = nextPeriodStart;
      }
      return options.reverse();
    },
    insurancePeriodStart() {
      if (this.insurancePeriod === null) {
        return null;
      }
      return dayjs("2020-03-01T00:00:00")
        .add(this.insurancePeriod * 3, "months")
        .toISOString();
    },
    insurancePeriodEnd() {
      if (this.insurancePeriod === null) {
        return null;
      }
      return dayjs("2020-06-01T00:00:00")
        .add(this.insurancePeriod * 3, "months")
        .toISOString();
    },
  },
  methods: {
    formatDate(date) {
      return dayjs(date).format("D MMMM YYYY HH:mm z (Z)");
    },
    formatInsuranceReportName() {
      return `rapport_assurances_${
        this.insurancePeriodOptions[this.insurancePeriodOptions.length - this.insurancePeriod - 1]
          .text
      }.csv`;
    },
    formatInsuranceReportUrl() {
      let params = new URLSearchParams();
      if (this.insurancePeriodStart) {
        params.set("from", this.insurancePeriodStart);
      }
      if (this.insurancePeriodEnd) {
        params.set("to", this.insurancePeriodEnd);
      }
      return "/reports/insurance/generate?" + params.toString();
    },
    formatBalanceReportName() {
      return this.balanceUpToDate
        ? `rapport_soldes_${this.balanceUpToDate}.csv`
        : `rapport_soldes_${dayjs().startOf("minute").toISOString()}.csv`;
    },
    formatBalanceReportUrl() {
      let params = new URLSearchParams();
      if (this.balanceUpToDate) {
        params.set("at", this.balanceUpToDate);
      }
      if (this.balanceNonZero) {
        params.set("non_zero_only", 1);
      }
      return "/reports/balance/generate?" + params.toString();
    },
  },
};
</script>

<template>
  <div>
    <h2>Rapports</h2>
    <b-card>
      <h3>Déclaration trimestrielle pour les assurances</h3>
      <b-form>
        <b-form-group
          label="Période"
          :description="
            insurancePeriod
              ? `${formatDate(insurancePeriodStart)} au ${formatDate(insurancePeriodEnd)}`
              : null
          "
        >
          <b-select v-model="insurancePeriod" :options="insurancePeriodOptions" />
        </b-form-group>

        <file-download-link
          v-if="insurancePeriod !== null"
          :api-url="formatInsuranceReportUrl()"
          download
          :filename="formatInsuranceReportName()"
          button-label="Générer le rapport"
        />
      </b-form>
    </b-card>

    <b-card>
      <h3>Rapport des soldes des utilisateurs</h3>
      <b-form>
        <b-form-group
          label="Soldes historiques en date du"
          description="Laisser vide pour soldes actuels"
        >
          <forms-date-time-picker v-model="balanceUpToDate" clearable show-timezone />
        </b-form-group>
        <forms-validated-input
          v-model="balanceNonZero"
          type="checkbox"
          name="non-zero"
          label="Soldes non nuls uniquement"
        />
        <file-download-link
          :api-url="formatBalanceReportUrl()"
          download
          :filename="formatBalanceReportName()"
          button-label="Générer le rapport"
        />
      </b-form>
    </b-card>
    <yearly-income-reports-box />
  </div>
</template>

<style scoped lang="scss">
.card {
  box-shadow: $small-shadow;
  + .card {
    margin-top: 1rem;
  }
}
</style>
