<template>
  <div v-if="itemLoaded && routeDataLoaded" class="admin-community">
    <b-row>
      <b-col>
        <h1 v-if="item.name">{{ item.name }}</h1>
        <h1 v-else>
          <em>{{ $tc("community", 1) | capitalize }}</em>
        </h1>
      </b-col>
    </b-row>

    <b-row>
      <b-col>
        <validation-observer ref="observer" v-slot="{ passes }">
          <b-form class="form" @submit.prevent="passes(submit)">
            <div v-if="item.id" class="form__section">
              <a id="members" />
              <community-users-list
                :id="`admin-community-users-table-${item.id}`"
                ref="userTable"
                class="mb-3"
                :hide-fields="['community.name', 'community_id', 'updated_at']"
                :fetch-params="{ community_id: item.id, for: 'admin' }"
                :community-id="item.id"
                label="membres"
                show-mailbox-export
              >
                <template #head-buttons>
                  <relation-input
                    v-if="canAddCommunityUser"
                    placeholder="Ajouter un membre"
                    class="add-user-input"
                    :value="null"
                    reset-after-select
                    :query="{
                      slug: 'users',
                      value: 'id',
                      text: 'full_name',
                      params: {
                        '!communities.id': item.id,
                      },
                      details: 'email',
                    }"
                    name="add-member"
                    @input="addUser"
                  />
                </template>
              </community-users-list>

              <h2>Synchronisation des membres approuvé-es</h2>

              <b-card
                v-if="item.community_mailing_list"
                class="community-mailing-list"
                :class="{ 'has-error': item.community_mailing_list.consecutive_error_count > 0 }"
              >
                <div class="community-mailing-list-details">
                  <div>
                    <div>
                      <div class="community-mailing-list-detail-header">Fournisseur</div>
                      <span class="community-mailing-list-detail">
                        {{ item.community_mailing_list.provider | capitalize }}
                      </span>
                    </div>
                  </div>
                  <div>
                    <div class="community-mailing-list-detail-header">Liste</div>
                    <span class="community-mailing-list-detail">
                      {{ item.community_mailing_list.list_name }}
                    </span>
                  </div>
                  <div v-if="item.community_mailing_list.tag">
                    <div class="community-mailing-list-detail-header">Tag</div>
                    <span class="community-mailing-list-detail">
                      {{ item.community_mailing_list.tag }}
                    </span>
                  </div>
                  <div v-if="item.community_mailing_list.createdByUser">
                    <div class="community-mailing-list-detail-header">Créé par</div>
                    <span class="community-mailing-list-detail">
                      <b-link :to="`/admin/users/${item.community_mailing_list.createdByUser.id}`">
                        {{ item.community_mailing_list.createdByUser.full_name }}
                      </b-link>
                    </span>
                  </div>
                  <div>
                    <div class="community-mailing-list-detail-header">Statut</div>
                    <b-badge
                      v-if="item.community_mailing_list.status === 'active'"
                      class="community-mailing-list-status"
                      variant="success"
                    >
                      <b-icon icon="check-circle" />
                      Active
                    </b-badge>
                    <b-badge
                      v-else-if="item.community_mailing_list.status === 'suspended'"
                      class="community-mailing-list-status"
                      variant="danger"
                    >
                      <b-icon icon="pause-circle" />
                      Suspendue
                    </b-badge>
                    <b-badge
                      v-else-if="item.community_mailing_list.status === 'synchronizing'"
                      class="community-mailing-list-status"
                      variant="warning"
                    >
                      <b-icon icon="arrow-repeat" />
                      Synchronisation
                    </b-badge>
                  </div>

                  <b-alert
                    v-if="item.community_mailing_list.consecutive_error_count > 0"
                    variant="warning"
                    class="community-mailing-list-error"
                    show
                  >
                    <strong
                      >Erreurs lors des
                      {{ item.community_mailing_list.consecutive_error_count }} dernières
                      requêtes</strong
                    >
                    <br />
                    <b-link v-b-modal="'last-mailing-list-error-modal'"
                      >Cliquez ici pour obtenir le texte de la dernière erreur.</b-link
                    >
                  </b-alert>
                  <b-modal
                    id="last-mailing-list-error-modal"
                    hide-footer
                    hide-header
                    size="lg"
                    centered
                  >
                    <h4>Erreur de synchronisation</h4>
                    <pre class="text-monospace">{{ item.community_mailing_list.last_error }}</pre>
                    <icon-button icon="files" class="mt-2" :onclick="copyLastMailingListError"
                      >Copier</icon-button
                    >
                  </b-modal>
                </div>
                <div class="community-mailing-list-buttons">
                  <icon-button size="sm" role="delete" :onclick="deleteCommunityMailingList"
                    >Supprimer</icon-button
                  >
                </div>
              </b-card>

              <template v-else>
                <icon-button v-b-modal="'add-community-mailing-list-modal'" role="add" class="mb-3"
                  >Ajouter</icon-button
                >
                <b-modal id="add-community-mailing-list-modal" hide-header hide-footer>
                  <mail-list-form
                    :community-id="item.id"
                    @added="
                      (mailingList) => {
                        item.community_mailing_list = mailingList;
                        $bvModal.hide('add-community-mailing-list-modal');
                      }
                    "
                  />
                </b-modal>
              </template>

              <p v-if="isGlobalAdmin">
                Cette section n'affiche que la synchronisation gérée par les admins de la
                communauté.
                <b-link to="/admin/mailinglists"
                  >Voir ou ajouter des synchronisations en tant qu'admin global.</b-link
                >
              </p>

              <h2>Inviter à rejoindre la communauté</h2>
              <b-input-group>
                <multiple-email-input
                  v-model="inviteEmails"
                  placeholder="ex.: la.voisine@example.com"
                  class="flex-grow-1"
                  @submit="redirectToNewInvitation"
                />
                <b-input-group-append>
                  <icon-button
                    variant="outline-success"
                    icon="arrow-right-square"
                    @click="redirectToNewInvitation"
                  >
                  </icon-button>
                </b-input-group-append>
              </b-input-group>
            </div>

            <div class="form__section">
              <h2>Informations générales</h2>

              <conditional-context
                :show="!canEditCommunityConfig"
                label="Réservé aux admins globaux"
              >
                <forms-builder
                  v-model="item"
                  entity="communities"
                  :definition="form"
                  :fields="['name', 'type']"
                  :disabled="!canEditCommunityConfig"
                />
              </conditional-context>

              <forms-builder
                v-model="item"
                :definition="form"
                :fields="['starting_guide_url', 'chat_group_url', 'contact_email', 'description']"
                entity="communities"
              />

              <template v-if="item.custom_registration_approved_email || item.type === 'private'">
                <b-form-group
                  label="Courriel de bienvenue (optionnel)"
                  description="Courriel envoyé automatiquement au nouveau et nouvelles membres approuvé.es. Si vide, un courriel de bienvenue par défaut sera envoyé."
                >
                  <markdown-editor
                    v-model="item.custom_registration_approved_email"
                    :send-sample="sendSampleApprovedEmail"
                    :show-preview-initially="item.custom_registration_approved_email"
                  />
                </b-form-group>
              </template>
            </div>

            <div class="form__section">
              <h2>Partage</h2>

              <conditional-context
                :show="!canEditCommunityConfig"
                label="Réservé aux admins globaux"
              >
                <b-form-group
                  label="Quels types de véhicules peuvent être partagés dans votre communauté."
                  label-for="area"
                >
                  <b-form-checkbox-group
                    :disabled="!canEditCommunityConfig"
                    :checked="(item.allowed_loanable_types || []).map((l) => l.id)"
                    name="allowed_loanable_types"
                    :options="allLoanableTypes"
                    @change="changeLoanableTypes"
                  />
                </b-form-group>

                <forms-builder
                  v-model="item"
                  :definition="form"
                  :disabled="!canEditCommunityConfig"
                  disabled-reason="Réservé aux admins globaux"
                  :fields="['exempt_from_contributions']"
                  entity="communities"
                />
              </conditional-context>

              <forms-builder
                v-model="item"
                :definition="form"
                :fields="['requires_residency_proof']"
                entity="communities"
              />
              <forms-builder
                v-model="item"
                :definition="form"
                :fields="['requires_identity_proof']"
                entity="communities"
              />
              <forms-builder
                v-model="item"
                :definition="form"
                :fields="['requires_custom_proof']"
                entity="communities"
              />
              <forms-builder
                v-model="item"
                :definition="form"
                :fields="['custom_proof_name']"
                entity="communities"
              />
              <b-form-group label="Description de la preuve">
                <markdown-editor
                  v-model="item.custom_proof_desc"
                  :show-preview-initially="item.custom_proof_desc"
                />
              </b-form-group>
            </div>

            <form-section
              :inititally-visible="!item.id"
              section-title="Zone géographique"
              toggleable
            >
              <conditional-context
                :show="!canEditCommunityConfig"
                label="Réservé aux admins globaux"
              >
                <simple-map class="community-map" :polygons="communityPolygons" />

                <b-form-group
                  class="monospace"
                  description="Zone géographique sous forme de GeoJson avec un MultiPolygon"
                  label-for="area"
                >
                  <b-form-textarea
                    id="area"
                    v-model="area"
                    :disabled="!canEditCommunityConfig"
                    name="area"
                    rows="6"
                    max-rows="12"
                  />
                </b-form-group>
              </conditional-context>
            </form-section>
            <form-buttons :changed="changed" :saving="loading" @reset="reset" />

            <pricing-table
              v-if="id"
              :community-id="id"
              :available-loanable-types="availableLoanableTypes"
              :exempt-from-contributions="item.exempt_from_contributions"
              :is-private-community="item.type === 'private'"
            />
          </b-form>
        </validation-observer>
      </b-col>
    </b-row>
  </div>
  <layout-loading v-else />
</template>

<script>
import MailListForm from "@/components/Admin/MailListForm.vue";
import CommunityUsersList from "@/components/Community/CommunityUsersList.vue";

import FormsBuilder from "@/components/Forms/Builder.vue";
import MultipleEmailInput from "@/components/Forms/MultipleEmailInput.vue";
import RelationInput from "@/components/Forms/RelationInput.vue";
import FormSection from "@/components/Loanable/FormSection.vue";
import SimpleMap from "@/components/Loanable/SimpleMap.vue";
import PricingTable from "@/components/Pricing/PricingTable.vue";
import ConditionalContext from "@/components/shared/ConditionalContext.vue";
import FormButtons from "@/components/shared/FormButtons.vue";
import IconButton from "@/components/shared/IconButton.vue";
import MarkdownEditor from "@/components/shared/MarkdownEditor.vue";
import { capitalize } from "@/helpers/filters";
import { extractMultipolygonPaths } from "@/helpers/geoJson";
import { isGlobalAdmin } from "@/helpers/permissions/users";

import locales from "@/locales";
import DataRouteGuards from "@/mixins/DataRouteGuards";

import FormMixin from "@/mixins/FormMixin";
import { del, put } from "@/requests/server";
import { urlencode } from "locutus/php/url";
import is from "vue2-datepicker/locale/es/is";

export default {
  name: "AdminCommunity",
  components: {
    MarkdownEditor,
    MailListForm,
    IconButton,
    PricingTable,
    FormButtons,
    RelationInput,
    MultipleEmailInput,
    ConditionalContext,
    FormSection,
    CommunityUsersList,
    FormsBuilder,
    SimpleMap,
  },
  mixins: [DataRouteGuards, FormMixin],
  data() {
    return {
      inviteEmails: "",
      mapOptions: {
        clickableIcons: false,
        fullscreenControl: false,
        mapTypeControl: false,
        streetViewControl: false,
        maxZoom: 18,
        styles: [
          {
            featureType: "poi",
            stylers: [{ visibility: "off" }],
          },
        ],
      },
      polygonOptions: {
        fillColor: "#16a59e",
        fillOpacity: 0.25,
        strokeOpacity: 0,
        zIndex: 2,
      },
      ignoreFields: ["pricings", "community_mailing_list"],
    };
  },
  computed: {
    is() {
      return is;
    },
    canEditCommunityConfig() {
      return isGlobalAdmin(this.$store.state.user);
    },
    canAddCommunityUser() {
      return isGlobalAdmin(this.$store.state.user);
    },
    // For form mixin, only keeps these fields in API requests
    requestFieldsAllowlist() {
      if (this.canEditCommunityConfig) {
        return [
          "id",
          "chat_group_url",
          "description",
          "contact_email",
          "requires_identity_proof",
          "requires_residency_proof",
          "requires_custom_proof",
          "custom_proof_name",
          "custom_proof_desc",
          "starting_guide_url",
          "pricings",
          "name",
          "type",
          "exempt_from_contributions",
          "allowed_loanable_types",
          "area",
          "custom_registration_approved_email",
        ];
      }
      let fields = [
        "id",
        "chat_group_url",
        "description",
        "contact_email",
        "description",
        "contact_email",
        "requires_identity_proof",
        "requires_residency_proof",
        "requires_custom_proof",
        "custom_proof_name",
        "custom_proof_desc",
        "starting_guide_url",
        "pricings",
      ];
      if (this.item.type === "private") {
        fields.push("custom_registration_approved_email");
      }
      return fields;
    },
    area: {
      get() {
        return this.item.area ? JSON.stringify(this.item?.area) : "";
      },
      set(value) {
        try {
          this.item.area = value && value !== "" ? JSON.parse(value) : null;
        } catch (e) {
          // do nothing if value is not valid JSON. This means the form-input data will only
          // be saved to the js object when it is valid json.
        }
      },
    },
    communityPolygons() {
      if (!this.item?.area?.coordinates) {
        return [];
      }

      return extractMultipolygonPaths(this.item?.area);
    },
    allLoanableTypes() {
      return this.$store.state.loanableTypes.types.map((t) => ({
        text: capitalize(this.$t(`loanable_types.${t.name}`)),
        value: t.id,
      }));
    },
    availableLoanableTypes() {
      return this.$store.state.loanableTypes.types
        .filter((t) => !!this.item?.allowed_loanable_types?.find((a) => a.id === t.id))
        .map((t) => t.name);
    },
    isGlobalAdmin() {
      return isGlobalAdmin(this.$store.state.user);
    },
  },
  methods: {
    redirectToNewInvitation() {
      this.$router.push(
        `/admin/invitations/new?community_id=${this.item.id}&emails=${urlencode(this.inviteEmails)}`
      );
    },
    async deleteCommunityMailingList() {
      const confirm = await this.$bvModal.msgBoxConfirm(
        "Êtes vous sûr-e de vouloir supprimer cette intégration?",
        {
          centered: true,
          okTitle: "Supprimer",
          okVariant: "danger",
          cancelTitle: "Annuler",
          cancelVariant: "ghost-secondary",
        }
      );
      if (!confirm) {
        return;
      }
      await del(`/mailinglists/${this.item.community_mailing_list.id}`, {
        notifications: {
          action: "suppression de l'intégration",
          onSuccess: "Intégration supprimée",
        },
      });

      this.item.community_mailing_list = null;
    },
    async addUser(user) {
      if (!user) {
        return;
      }

      await this.$store.dispatch(`communities/addUser`, {
        userId: user.id,
        communityId: this.item.id,
      });
      this.$refs.userTable.setFilters({ user_id: user.id });
    },
    changeLoanableTypes(types) {
      this.$store.commit(`${this.slug}/item`, {
        ...this.item,
        allowed_loanable_types: types.map((t) => ({ id: t })),
      });
    },
    copyLastMailingListError() {
      navigator.clipboard.writeText(this.item.community_mailing_list.last_error).then(() => {
        this.$store.commit("addNotification", {
          title: "Texte de l'erreur copié",
          variant: "success",
        });
      });
    },
    async sendSampleApprovedEmail() {
      await put(
        `/communities/${this.item.id}/approve/sample`,
        {
          markdown: this.item.custom_registration_approved_email,
        },
        {
          notifications: { action: "Envoi d'exemple de courriel de bienvenue", onSuccess: true },
        }
      );
    },
  },
  i18n: {
    messages: {
      en: {
        ...locales.en.communities,
        ...locales.en.forms,
        pricings: locales.en.pricings,
        loanable_types: locales.en.loanables.fields.types,
      },
      fr: {
        ...locales.fr.communities,
        ...locales.fr.forms,
        pricings: locales.fr.pricings,
        loanable_types: locales.fr.loanables.fields.types,
      },
    },
  },
};
</script>

<style lang="scss">
@import "~bootstrap/scss/mixins/breakpoints";
.admin-community {
  .simple-map {
    width: 100%;
    height: 20rem;
  }

  .add-user-input {
    min-width: 15rem;
  }

  .community-mailing-list {
    &.has-error {
      .community-mailing-list-buttons {
        align-self: flex-start;
      }
    }
    &.card {
      box-shadow: $small-shadow;
      margin-bottom: 1rem;
    }

    .card-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      @include media-breakpoint-down(xs) {
        align-items: flex-start;
        flex-direction: column;
      }
      .community-mailing-list-details {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
        flex: 1;
        width: 100%;
      }
      .community-mailing-list-error {
        grid-column: 1 / -1; // From first to last
        margin-bottom: 0;
      }

      .community-mailing-list-provider {
        font-size: 1.125rem;
        font-weight: 700;
        color: $primary;
      }
      .community-mailing-list-detail-header {
        font-size: 0.875rem;
        color: $content-neutral-secondary;
      }
      .community-mailing-list-detail {
        font-weight: 600;
      }
    }
  }
}
</style>
