<template>
  <layout-loading v-if="loading" />
  <div v-else-if="!loaded" class="text-center">
    <p>Erreur de chargement des communautés.</p>
    <icon-button variant="primary" icon="arrow-clockwise" :onclick="load">Réessayer</icon-button>
  </div>
  <div v-else>
    <b-card
      v-for="communityUser in communityUsers"
      :key="communityUser.id"
      class="profile-communities__communities mb-3"
    >
      <h2>{{ communityUser.community.name }}</h2>

      <community-proof-form :community-user="communityUser" />
    </b-card>

    <b-card v-if="communityUsers.length === 0" class="profile-communities__nocommunities">
      <div>
        <h3>Vous n'êtes pas encore inscrit au sein d'une communauté soutenue par LocoMotion.</h3>
      </div>
      <b-card-body>
        <p>
          Il se peut que LocoMotion ne soit pas encore ouvert dans votre quartier ou que votre
          adresse n'est pas à jour.
        </p>
        <icon-button variant="primary" to="/profile/locomotion"> Modifier mon adresse</icon-button>
      </b-card-body>
    </b-card>
  </div>
</template>

<script>
import extractErrors from "@/helpers/extractErrors";
import CommunityProofForm from "@/components/Community/ProofForm.vue";
import IconButton from "@/components/shared/IconButton.vue";
import { get } from "@/requests/server";
import LayoutLoading from "@/components/Layout/Loading.vue";

export default {
  name: "ProfileCommunities",
  components: { IconButton, LayoutLoading, CommunityProofForm },
  data() {
    return {
      loaded: false,
      loading: false,
      communityUsers: [],
      savingToast: {
        content: "Un membre de notre équipe va vérifier vos preuves et valider votre profil.",
        title: "Preuve d'adresse mise à jour!",
        variant: "success",
      },
    };
  },
  computed: {
    user() {
      return this.$store.state.user;
    },
  },
  beforeMount() {
    this.load();
  },
  methods: {
    async load() {
      try {
        this.loading = true;

        const { data } = await get(
          `/communityUsers?user.id=${this.user.id}&fields=*,community.*,user.*,user.residency_proof.*,user.identity_proof.*,custom_proof.*`,
          {
            notifications: { action: "chargement des communautés" },
          }
        );

        this.communityUsers = data.data;
      } catch (e) {
        if (e.request) {
          switch (e.request.status) {
            default:
              this.$store.commit("addNotification", {
                content: extractErrors(e.response.data).join(", "),
                title: "Erreur de chargement des communautés",
                variant: "danger",
                type: "register",
              });
          }
        }
      } finally {
        this.loading = false;
        this.loaded = true;
      }
    },
  },
};
</script>

<style lang="scss">
.profile-communities {
  &__headers {
    padding-left: 15px;

    h4 {
      color: grey;
      font-size: 16px;
    }
  }

  &__communities {
    box-shadow: $small-shadow;
  }

  &__nocommunities {
    .btn {
      margin-left: 0;
    }
  }
}
</style>
