<template>
  <div v-if="show" class="conditional-context">
    <span v-if="label" class="conditional-context-label" :class="background"
      >{{ label }}
      <b-icon
        v-if="additionalInfo"
        v-b-tooltip="additionalInfo"
        :scale="0.75"
        icon="info-circle"
      ></b-icon>
    </span>
    <slot />
  </div>
  <div v-else>
    <slot />
  </div>
</template>

<script>
export default {
  name: "ConditionalContext",
  props: {
    show: {
      type: Boolean,
    },
    label: {
      type: String,
      default: undefined,
    },
    additionalInfo: {
      type: String,
      default: undefined,
    },
    background: {
      type: String,
      default: "main",
    },
  },
};
</script>

<style scoped lang="scss">
.conditional-context {
  padding: 1rem 1rem 0;
  border-radius: 0.5rem;
  border: 1px solid $light-grey;
  margin: 0 -1rem 1rem;
  position: relative;
  .conditional-context-label {
    position: absolute;
    top: -0.5rem;
    font-size: 0.8rem;
    color: $grey;
    font-weight: 600;
    padding: 0rem 0.5rem;
    margin-left: -0.25rem;
    &.white {
      background-color: white;
    }
    &.main {
      background-color: $main-bg;
    }
  }
}
</style>
