<script>
import IconButton from "@/components/shared/IconButton.vue";
import CustomProofInput from "@/components/Community/CustomProofInput.vue";
import IdentityProofInput from "@/components/User/IdentityProofInput.vue";
import ResidencyProofInput from "@/components/User/ResidencyProofInput.vue";
import locales from "@/locales";
import { put } from "@/requests/server";
import extractErrors from "../../helpers/extractErrors";

export default {
  name: "CommunityProofForm",
  components: {
    IconButton,
    CustomProofInput,
    ResidencyProofInput,
    IdentityProofInput,
  },
  props: {
    canSkip: {
      type: Boolean,
      required: false,
      default: false,
    },
    communityUser: {
      type: Object,
      required: false,
      default: () => {},
    },
  },
  data() {
    return {
      loading: false,
      proofs: {
        identity_proof: this.communityUser.user.identity_proof,
        residency_proof: this.communityUser.user.residency_proof,
        custom_proof: this.communityUser.custom_proof,
      },
    };
  },
  i18n: {
    messages: {
      en: {
        ...locales.en.communities,
        ...locales.en.forms,
      },
      fr: {
        ...locales.fr.communities,
        ...locales.fr.forms,
      },
    },
  },
  methods: {
    async submit() {
      try {
        this.loading = true;

        await put(`/communityUsers/${this.communityUser.id}/proofs`, this.proofs, {
          notifications: {
            action: "mise à jour",
            onSuccess: "preuves sauvegardées",
          },
        });

        if (this.savingToast) {
          this.$store.commit("addNotification", this.savingToast);
        }

        this.$emit("submitted", this.proofs);
      } catch (e) {
        if (e.request) {
          switch (e.request.status) {
            case 422:
            default:
              this.$store.commit("addNotification", {
                content: extractErrors(e.response.data).join(", "),
                title: "Erreur de mise à jour des preuves",
                variant: "danger",
              });
          }
        }
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>

<template>
  <validation-observer ref="observer" v-slot="{ passes, changed }" tag="div">
    <b-form :novalidate="true" class="user-proof-form__form" @submit.stop.prevent="passes(submit)">
      <p v-if="communityUser.community.type == 'borough'">
        Pour favoriser un partage sécuritaire et protéger vos ressources collectives, votre comité
        veut s’assurer que vous êtes bel et bien une vraie personne habitant dans le quartier. Merci
        de fournir les preuves demandées.
      </p>
      <p v-else>
        Pour favoriser un partage sécuritaire et protéger vos ressources collectives, votre
        communauté veut s’assurer que vous êtes bel et bien une vraie personne répondant à ses
        conditions d'admission. Merci de fournir les preuves demandées.
      </p>

      <template v-if="communityUser.community.requires_identity_proof">
        <identity-proof-input
          v-model="proofs.identity_proof"
          class="mb-3"
          :loading="loading"
          :community-user="communityUser"
        />
        <hr />
      </template>
      <template v-if="communityUser.community.requires_residency_proof">
        <residency-proof-input
          v-model="proofs.residency_proof"
          :duplicate-drivers-license="communityUser.community.requires_identity_proof"
          class="mb-3"
          :loading="loading"
          :community-user="communityUser"
        />
        <hr />
      </template>
      <template v-if="communityUser.community.requires_custom_proof">
        <custom-proof-input
          v-model="proofs.custom_proof"
          class="mb-3"
          :loading="loading"
          :community-user="communityUser"
        />
        <hr />
      </template>

      <p class="mt-4">
        Une fois tous vos fichiers joints, il ne reste plus qu’à les envoyer! Maintenant, faisons
        preuve de patience. Ce sont de vraies personnes qui valident votre compte. 🙂
      </p>

      <div class="community-proof-form__buttons">
        <icon-button :loading="loading" :disabled="loading || !changed" role="send" type="submit">
          Envoyer
        </icon-button>

        <!-- Submitting proofs can be skipped at registration -->
        <icon-button v-if="canSkip" role="cancel" @click="$emit('skip')"> Plus tard</icon-button>
      </div>

      <div v-if="communityUser.community.requires_residency_proof" class="mt-3">
        <small>
          * Si votre situation ne vous permet pas de démontrer que vous habitez le quartier au moyen
          de la méthode proposée, contactez l’Équipe LocoMotion (info@locomotion.app) pour savoir
          comment vous inscrire.
        </small>
      </div>
    </b-form>
  </validation-observer>
</template>

<style lang="scss">
.community-proof-form__buttons {
  justify-content: center;
  display: flex;
  gap: 0.5rem;
}
</style>
