<template>
  <dl>
    <template v-if="!detailsOnly">
      <dt>Nom du véhicule</dt>
      <dd>
        <router-link v-if="isAdminOfLoanable" :to="`/admin/loanables/${loanable.id}`">
          {{ loanable.name }}
        </router-link>
        <template v-else>
          {{ loanable.name }}
        </template>
      </dd>

      <dt>Propriétaire</dt>
      <dd>
        <router-link v-if="isAdminOfLoanable" :to="`/admin/users/${loanableOwnerUser.id}`">
          {{ loanableOwnerUser.full_name }}
        </router-link>
        <template v-else>
          {{ loanableOwnerUser.full_name }}
        </template>
      </dd>

      <template v-if="loanable.comments">
        <dt>Commentaires</dt>
        <dd>&laquo;&nbsp;{{ loanable.comments }}&nbsp;&raquo;</dd>
      </template>
    </template>
    <template v-if="loanable.type === 'bike'">
      <dt>{{ $t("fields.model") | capitalize }}</dt>
      <dd>{{ loanable.details.model }}</dd>
      <dt>{{ $t("fields.bike_type") | capitalize }}</dt>
      <dd>{{ $t(`bike_types.${loanable.details.bike_type}`) | capitalize }}</dd>
      <dt>{{ $t("fields.size") | capitalize }}</dt>
      <dd>
        {{ $t(`sizes.${loanable.details.size}`) | capitalize }}
      </dd>
    </template>
    <template v-else-if="loanable.type === 'trailer'">
      <dt>{{ $t("fields.maximum_charge") | capitalize }}</dt>
      <dd>{{ loanable.details.maximum_charge }}</dd>
      <dt>{{ $t("fields.dimensions") | capitalize }}</dt>
      <dd>{{ loanable.details.dimensions }}</dd>
    </template>
    <template v-else-if="loanable.type === 'car'">
      <dt>{{ $t("fields.brand") | capitalize }}</dt>
      <dd>{{ loanable.details.brand }}</dd>
      <dt>{{ $t("fields.model") | capitalize }}</dt>
      <dd>{{ loanable.details.model }}</dd>
      <dt>{{ $t("fields.year_of_circulation") | capitalize }}</dt>
      <dd>{{ loanable.details.year_of_circulation }}</dd>
      <dt>{{ $t("fields.transmission_mode") | capitalize }}</dt>
      <dd>
        {{ $t(`transmission_modes.${loanable.details.transmission_mode}`) | capitalize }}
      </dd>
      <dt>{{ $t("fields.engine") | capitalize }}</dt>
      <dd>{{ $t(`engines.${loanable.details.engine}`) | capitalize }}</dd>
      <dt>{{ $t("fields.papers_location") | capitalize }}</dt>
      <dd>
        {{ $t(`papers_locations.${loanable.details.papers_location}`) | capitalize }}
      </dd>
      <template v-if="loanable.details.report">
        <dt>{{ $t("fields.report") | capitalize }}</dt>
        <dd><safe-file :file="loanable.details.report">Fiche</safe-file></dd>
      </template>
    </template>
  </dl>
</template>

<script>
import SafeFile from "@/components/shared/SafeFile.vue";
import { getOwner, isAdminOfLoanable } from "@/helpers/permissions/loanables";
import locales from "@/locales";

export default {
  name: "DescriptionList",
  components: { SafeFile },
  props: {
    loanable: {
      type: Object,
      required: false,
      default: undefined,
    },
    detailsOnly: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    isAdminOfLoanable() {
      return isAdminOfLoanable(this.$store.state.user, this.loanable);
    },
    loanableOwnerUser() {
      return getOwner(this.loanable);
    },
  },
  i18n: {
    messages: {
      en: {
        ...locales.en.loanables,
      },
      fr: {
        ...locales.fr.loanables,
      },
    },
  },
};
</script>

<style lang="scss"></style>
