<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- redirect as soon as possible for root page if user is not connected. -->
        <script>
          (function(d) {
            if (!!d && new URL(location.href).pathname === "/" && !JSON.parse(localStorage.locomotion).user) {
              location.href = d;
            }
          })("<%= process.env.VUE_APP_INFO_WEBSITE_URL %>");
        </script>

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','<%= process.env.VUE_APP_GTM_MEASUREMENT_ID %>');</script>
        <!-- End Google Tag Manager -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
        />
        <title>LocoMotion</title>
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= process.env.VUE_APP_GTM_MEASUREMENT_ID %>"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        <div id="app"></div>
    </body>
</html>
